<%= simple_form_for(@usercomite, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= javascript_include_tag "fecha.js" %>

  <%= f.error_notification %>
 
  <div class="responsive">
    <div class="modal-body">  
      <div class="control-group">
        <div class="row" id ="colors">
          <div class= "span4"> 
            <center><h4></h4></center>
            <hr>
            <div class="form-inputs">
              <%= f.input :nc %>
              <%= f.input :cedula %>
              <%= f.input :email %>
              <%= f.label :fecha %>
              <%= f.input :fch_ncto, :as => :string, :label => false, :input_html => {  :class=>"datepicker" } %>
              <div class ="control-group">
                <%= f.label :cargo_id %>
                <div class="controls" >
                  <%= f.collection_select :cargo_id, Cargo.all, :id, :descripcion, :prompt => "Seleccione" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class= "span6">
          <div class="form-actions">
            <%= f.submit "Guardar", :class => 'btn btn-primary' %>
            <%= link_to 'Atras', usercomites_path, :class => 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>