<tr id=<%= "descargo_#{descargo.id}" %>>
  <td><%= link_to descargo.id, edit_descargo_path(descargo), :remote => true %></td>
  <td><%= descargo.descripcion %></td>
  <td><%= image_tag descargo.evidencia.url(:lsmall) %></td>
  <td>
    <%= link_to 'Mostrar', descargo, :remote => true, :class => 'btn btn-default' %>
    <%= link_to 'Editar', edit_descargo_path(descargo), :remote => true,
        :class => 'btn btn-warning' %>
    <%= link_to 'Eliminar', descargo, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-default btn-danger' %>
  </td>
</tr>
