<%= simple_form_for([@centro,@programa], :html => { :class => 'form-horizontal' }, :remote => true  ) do |f| %>

  <%= f.error_notification %>

  <%= f.input :descripcion %>
  <%= f.input :abreviatura %>
  <%= f.input :estado %>
  <%= f.label :centro %>
  <%= f.collection_select :centro_id, Centro.all, :id, :abreviatura, :prompt => "Seleccione" %>
  

  <div class="form-actions">
    <%= f.submit "Guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', centro_programas_path(@centro), :class => 'btn btn-default' %>
  </div>
<% end %>