<tr id=<%= "cargo_#{cargo.id}" %>>
  <td><%= link_to cargo.id, edit_cargo_path(cargo), :remote => true %></td>
  <td><%= cargo.descripcion %></td>
  <td>
    <%= link_to 'Mostrar', cargo, :remote => true, :class => 'btn btn-default' %>
    <%= link_to 'Editar', edit_cargo_path(cargo), :remote => true,
        :class => 'btn btn-warning' %>
    <%= link_to 'Eliminar', cargo, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-default btn-danger' %>
  </td>
</tr>
