<tr id=<%= "acta_#{acta.id}" %>>
  <td><%= link_to acta.id, edit_acta_path(acta), :remote => true %></td>
  <td><%= acta.ciudad %></td>
  <td><%= acta.fecha %></td>
  <td><%= acta.hora_inicio %></td>
  <td><%= acta.hora_terminacion %></td>
  <td><%= acta.lugar %></td>
  <td>
    <%= link_to 'Mostrar', acta, :remote => true, :class => 'btn btn-mini ' %>
    <%= link_to 'Editar', edit_acta_path(acta), :remote => true,
        :class => 'btn btn-warning btn btn-mini' %>
    <%= link_to 'Eliminar', acta, 
        :data => { :confirm => 'Esta Seguro' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>


