<!DOCTYPE html>
<html lang="es">
	<head>
			<meta chartset="utf-8"/>
			<title>SCQ - Sistema Centralizado de Quejas</title>
	</head>
	<body>
		<h1><%= @queja.created_at %></h1>

		<h3><%= @queja.nombres %></h3>

		<h3><%= @queja.apellidos %></h3>

		<h3><%= @queja.email %></h3>

		<p><%= @queja.falta.descripcion %></p>

		Thank you for registering!
	</body>
</html>
