<%= javascript_include_tag "programaselect.js" %>
<%= javascript_include_tag "fecha.js" %>
<%= simple_form_for(@queja, :html => { :class => 'form-horizontal', :multipart => true }, :remote => true) do |f| %>

  <%= f.error_notification %>

  <div class="responsive">
    <div class="modal-body">  
      <div class="control-group">
        <div class="row" id ="colors">
          <div class= "span6"> 
            <center><h4>Información del Aprendiz</h4></center>
            <hr>
          <!--<div class="form-inputs"> -->
            <%= f.label :fechainforme %>
            <%= f.input :fechainforme, :as => :string, :label => false, 
            :input_html => {  :class=>"datepicker" } %>
            <%= f.input :fechainforme %>
            <%= f.input :nombres %>
            <%= f.input :apellidos %>
            <div class ="control-group">
              <%= f.label :Tipo_Documento %>
              <div class="controls" >
                <%= f.collection_select :tipo_documento_id, TipoDocumento.all, :id, :descripcion, :prompt => "Seleccione" %>
              </div>
            </div>
            <br><br>
            <%= f.input :identificacion %>
            <%= f.input :telefono %>
            <%= f.input :email %>
            <div class ="control-group">
              <%= f.label :programa_id %> 
              <div class="controls" >
                <%= select_tag "programa_id", options_from_collection_for_select(@programas, "id", "descripcion"), :prompt => "select a program" %>
              </div>
            </div>
            <br><br>
            <div class ="control-group">
                <%= f.label :ficha%>
                <div class="controls" id="fichasDiv" >
                  <div id="fichasDiv">
                    <%= render :partial => 'fichas', :object => @fichas%>
                  </div>
                </div>
            </div>
          </div>
          <center><h4>Tipo de falta y Datos del Informante</h4></center>
          <hr>

          <div class ="span6">
            <div class="row">
              <div class ="control-group">
                <%= f.label :descripcion %>
                <div class="controls" >
                  <%= f.text_area(:descripcion, :rows => 4) %>
                </div>
              </div>
              <br><br>
              <div class ="control-group">
                <%= f.label :falta_id %>
                <div class="controls" >
                  <%= f.collection_select :falta_id, Falta.all, :id, :descripcion, :prompt => "Seleccione" %>
                </div>
              </div>
              <br><br>
              <%= f.input :testigos %>
              <%= f.input :nombresinformante %>
              <%= f.input :apellidosinformante %>
              <%= f.input :direccioninformante %>
              <div class ="control-group">
                <%= f.label :cargo_id %>
                <div class="controls" >
                  <%= f.collection_select :cargo_id, Cargo.all, :id, :descripcion, :prompt => "Seleccione" %>
                </div>
              </div>
              <br><br>
              <div class ="control-group">
                <%= f.label :descargos %>
                <div class="controls" >
                  <%= f.text_area(:descargos, :rows => 4) %>
                </div>
              </div>
              <br><br>
              <%= image_tag @queja.evidencia.url(:small) %>
              <%= f.label :Evidencia %>
              <%= f.file_field :evidencia %>
            </div>
          </div>
        </div>
        
        <div class= "span12">
          <div class="form-actions">
          	<%= f.submit "Guardar", :class => 'btn btn-primary' %>
            <%= link_to 'Atras', quejas_path, :class => 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

