<tr id=<%= "queja_#{queja.id}" %>>
  
  <td><%= queja.id %></td>
  <td><%= queja.created_at %></td>
  <td><%= queja.nombres %></td>
  <td><%= queja.apellidos %></td>
  <td><%= queja.programa.abreviatura %></td>
  <td><%= queja.ficha %></td>
  <td><%= queja.falta.falta %></td>
  <td><% if queja.estado_id == 1 %>
      <%= image_tag('espera.png', :title => 'en espera')  %>
    <% else  %>
      <%= image_tag("comite.jpg",:title => 'en comite')%>
    <% end %></td>
  
  <td>
    
    <%= link_to 'Mostrar', queja, :remote => true, :class => 'btn btn-mini btn-default' %>
    <%= link_to 'Editar', edit_queja_path(queja), :remote => true,
        :class => 'btn btn-mini btn-warning' %>
    <%= link_to 'Eliminar', queja, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
    <% if queja.estado_id == 1 %>
      <%= link_to "enviar a comite", asigna_path(:id => queja.id), :remote => true, :class => 'btn btn-mini btn-primary' %>
    <% end %>

  </td>
</tr>


