<%= javascript_include_tag "application.js" %>
<%- model_class = Queja -%>

<h1>Quejas</h1>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    Nombres Aprendiz:
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Consultar", :nombres => nil %>
  <% end %>
<% end %>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    Numero Registros:
    <%= text_field_tag :registro, params[:registro], :class =>'input-mini', :title => "ingresa el dato y preciona enter" %>
   <% end %>
<% end %>

<p>
Total Quejas : <input type="text" id="totalregs" class="span1" value="<%= @estadoquejas.count %>" readonly /></h4>
</p>

<table class="table table-bordered table-condensed table-hover pretty">
  <thead>
    <tr>
      <th><%= sortable "id", "Numero Queja"%></th>
      <th><%= sortable "created_at", "Fecha"%></th>
      <th><%= sortable "nombres" %></th>
      <th><%= sortable "apellidos" %></th>
      <th><%= sortable "programa_id", "Programa" %></th>
      <th><%= sortable "Ficha" %></th>
      <th><%= sortable "falta" %></th>
      <th><%= sortable "estado_id", "Estado" %></th> 
		  <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @quejas %>
  </tbody>
</table>

<%= link_to 'Nueva Queja', new_queja_path, :class => 'btn btn-primary', :remote => true %>
<%= link_to image_tag("pdf_icon.gif"), quejas_path(:format => :pdf) %>
<div align="center">
  <%= will_paginate @quejas, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
  &raquo;' %>
</div>

