<tr >
  <% @quejas.each do |queja|%>
  <td><%= queja.id %></td>
  <td><%= queja.created_at %></td>
  <td><%= queja.nombres %></td>
  <td><%= queja.apellidos %></td>
  <td><%= queja.tipo_documento.descripcion %> </td>
  <td><%= queja.identificacion %></td>
  <td><%= queja.falta.descripcion %></td>
  <td><%= queja.estado %></td>
  <% end %>
  <td>

  </td>
</tr>

