<%- model_class = Comite -%>
<br><br><br>
<h1>comites</h1>
<br>
<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    Lugar:
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Consultar", :hora => nil %>
  <% end %>
<% end %>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    Numero Registros:
    <%= text_field_tag :registro, params[:registro], :class =>'input-mini' %>
   <% end %>
<% end %>

<p>
Total comites : <input type="text" id="totalregs" class="span1" value="<%= @comites.total_entries %>"readonly /></h4>
</p>

<table class="table table-bordered table-hover pretty">
  <thead>
    <tr>  
      <th><%= sortable "id" %></th>
      <th><%= sortable "hora" %></th> 
      <th><%= sortable "nombreapren" %></th> 
      <th><%= sortable "programa_id" %></th> 
      <th><%= sortable "ficha" %></th> 
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @comites %>
  </tbody>
</table>
<%= link_to 'Nuevo comite', new_fcomite_comite_path, :class => 'btn btn-primary', :remote => true %>

<%= link_to image_tag("pdf_icon.gif"), fcomite_comites_path(:format => :pdf) %>
<%= link_to 'Atras', fcomites_path, :class => 'btn btn-primary' %>

<div align="center">
  <%= will_paginate @comites, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
  &raquo;' %>
</div>

