<%- model_class = Comite -%>

<div class="buscador">
  <h1 class="h1">comites</h1>
  <%= form_tag request.path, :method => 'get' do %>
    <%= content_tag :label do %>
      Lugar:
      <%= text_field_tag :search, params[:search], :id=>'efecto1'  %>
      <%= submit_tag "Consultar", :hora => nil,:id=>'efecto1'  %>
    <% end %>
  <% end %>
  <div id="regi">
    <%= form_tag request.path, :method => 'get' do %>
      <%= content_tag :label do %>
        Numero Registros:
        <%= text_field_tag :registro, params[:registro], :class =>'input-mini',:id=>'efecto1'  %>
       <% end %>
    <% end %>
  </div>  

  <p id="qest">
  Total comites : <input type="text" id="totalregs" class="span1" value="<%= @comites.total_entries %>"readonly /></h4>
  </p>
</div>  
<br>
<table class="table table-bordered table-hover pretty">
  <thead>
    <tr>  
      <th><%= sortable "id" %></th>
      <th><%= sortable "hora" %></th> 
      <th><%= sortable "nombreapren" %></th> 
      <th><%= sortable "programa_id" %></th> 
      <th><%= sortable "ficha" %></th> 
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @comites %>
  </tbody>
</table>
<%= link_to 'Nuevo comite', new_fcomite_comite_path, :class => 'btn btn-primary', :remote => true %>

<%= link_to image_tag("pdf_icon.gif"), fcomite_comites_path(:format => :pdf),:target => "_blank" %>
<%= link_to 'Atras', fcomites_path, :class => 'btn btn-primary' %>
 <%= link_to  "enviar a comite", envio_email_path(:fcomite_id => @fcomite), :remote => true, :class => 'btn  btn-info' %>

<div align="center">
  <%= will_paginate @comites, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
  &raquo;' %>
</div>

