<%= javascript_include_tag "fecha.js" %>
<%- model_class = Comite -%>
<div class="buscador">
  <div class="row-fluid">
    <div class="row-fluid">
      <div class="span6">
        <%= form_tag request.path, :method => 'get' do %>
          <%= content_tag :label do %>
            <h4>    Lugar</h4>
            <%= text_field_tag :search, params[:search], :id=>'efecto1'  %>
            <%= submit_tag "Consultar", :hora => nil, :class=>"btn btn-info btn-mini", :id=>'efecto1'  %>
          <% end %>
        <% end %>

        <div class="span6">
          <%= form_tag request.path, :method => 'get' do %>
            <%= content_tag :label do %>
              <h4>Numero Registros</h4>
              <%= text_field_tag :registro, params[:registro], :class =>'input-mini',:id=>'efecto1'  %>
             <% end %>
          <% end %>
        </div>
      </div>
      <div class=" colorp">
          
        <h2>Programacion Comite</h2>
      
        <p>
          Total comites : <%= @comites.count %>
        </p>
        <br>
        <br>
        <br>

      </div>
    </div>
  </div>
</div>  
<br>
<table class="table table-bordered table-hover pretty">
  <thead>
    <tr>  
      <th><%= sortable "id" %></th>
      <th><%= sortable "hora" %></th> 
      <th><%= sortable "nombreapren" %></th> 
      <th><%= sortable "programa_id" %></th> 
      <th><%= sortable "ficha" %></th> 
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @comites %>
  </tbody>
</table>
<%= link_to 'Nuevo comite', new_fcomite_comite_path, :class => 'btn btn-primary btn-mini', :remote => true %>

<%= link_to image_tag("pdf_icon.gif"), fcomite_comites_path(:format => :pdf),:target => "_blank" %>
<%= link_to 'Atras', fcomites_path, :class => 'btn btn-primary btn-mini' %>

<%= link_to  "enviar a comite", envio_email_path(:fcomite_id => @fcomite), :class => 'btn  btn-info btn-mini submit' %>


<div align="center">
  <%= will_paginate @comites, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
  &raquo;' %>
</div>

