<%= javascript_include_tag "hora.js" %>
<div id="divapren">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre Aprendices</th>
				<th>Hora Citacion</th>
				 
			</tr>
		</thead>
		<% @horas = "" %>
		<% @idasig = "" %>
		<% i = 0 %> 
		<tbody>
		    <% @aprendices.each do |aprendiz|%>
		    	
				<tr  id="<%= i %>" class="trap" data-valort="<%= i %>">
					<td><%= aprendiz.nombres %></td> 
				    <td>
				    	
				    	<div class =" input-append bootstrap-timepicker  hora <%= aprendiz.id %>" data-value="<%= aprendiz.id%>">
			                <%= text_field_tag :hora, params[:hora],  :as => :string, :label => "hora", :class => "time_picker input-small h #{i}", :id=>'efecto1', :value => "#{@h}"%>
			                <span class="add-on " id="efecto1">hora<i class="icon-time"></i></span>
			            </div> 
					</td>
					<% @idasig += "#{aprendiz.id}," %>
				</tr>
				<% i+=1 %>
				<% @horas +=  "#{@h}," %>
				<% @h = hora_citacion(@h, @tiempo_caso) %>
				
			<% end %>
		</tbody>
		<input name="ho" id="tr" type="hidden" value="<%= i %>">
		<input name="horas" type="hidden" value="<%= @horas %>">
		<input name="ids" id="ids"type="hidden" value="<%= @idasig %>">
	</table>
</div> 