<%- model_class = Asignacioncomite -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombres) %></th>
      <th><%= model_class.human_attribute_name(:apellidos) %></th>
      <th><%= model_class.human_attribute_name(:programa) %></th>
      <th><%= model_class.human_attribute_name(:ficha) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @asignacioncomites.each do |asignacioncomite| %>
      <tr>
        <td><%= link_to asignacioncomite.id, asignacioncomite_path(asignacioncomite) %></td>
        <td><%= asignacioncomite.nombres %></td>
        <td><%= asignacioncomite.apellidos %></td>
        <td><%= asignacioncomite.programa %></td>
        <td><%= asignacioncomite.ficha %></td>
        <td><%=l asignacioncomite.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_asignacioncomite_path(asignacioncomite), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      asignacioncomite_path(asignacioncomite),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_asignacioncomite_path,
            :class => 'btn btn-primary' %>
