<ul class="nav nav-pills">
  <% if current_user %>
    <li>
      <%= link_to image_tag('user-home.png',height: '32', width: '32'), root_path, :title => "¿volver al inicio?" %>
    </li>
  <% end %>
  <% if current_user and has_role == "instructor"  %>

    <li>
      <%= link_to('Usuarios', users_path) %> 
    </li>

    <li class="borlink">
      <%= link_to('Quejas', quejas_path) %> 
    </li>

    <li>
      <%= link_to('Comites', fcomites_path) %> 
    </li>

    <li>
      <%= link_to('Ayuda', ayudas_path) %> 
    </li>
    
  <% elsif current_user and has_role == "admin" %> 

    <li>
      <%= link_to('Actas', actas_path) %> 
    </li>

    <li>
      <%= link_to 'Administracion', admin_path, :remote => true%>
    </li>

  <% else %>
  
  
    <li class="divider-vertical"></li>

    <li><a href="#"></a></li>
   
    <li><a href="#"></a></li>

    <li class="borlink">
      <%= link_to 'Ingresar', login_path %>
    </li>
  <% end %>
</ul> 
