<ul class="nav">
    <!-- if user_signed_in? %>  -->
   
    <li><%= link_to image_tag('icono.gif' ), root_path, :title => "¿volver al inicio?" %></li> 
    <li><%= link_to('Usuarios', users_path) %> </li>
    <li><%= link_to('Quejas', quejas_path) %> </li>
    <li><%= link_to('Comites', fcomites_path) %> </li>
    <li><%= link_to('Actas', actas_path) %> </li>
    <li><%= link_to('Ayuda', ayudas_path) %> </li>

   <!-- else %> -->
   


  <!-- end %> -->

</ul> 
